# Virtual env
social-media-sentiment-analysis/venv/
# Python cache
__pycache__/
*.pyc
# Jupyter checkpoints
.ipynb_checkpoints/
# data files (jika ada)
data/
social-media-sentiment-analysis/rename_notebooks.py
